---
import Layout from '../layouts/Layout.astro';
import IconClose from '../components/Atoms/IconClose.astro';
---

<Layout title="Factura fácil con Billin - Accede gratis">

    <content class="signup">
        <IconClose />

        <!-- ** Left Column ** -->
        <article class="signup-left">
            <div class="signup-left-container">
                <img src="/images/logo-billin.svg" alt="Logo Billin" class="mb-8">
                <h1 class="text-3xl font-bold mb-4">
                    Consigue Billin gratis gracias al Kit Digital del Gobierno
                </h1>
                <p class="mb-6">
                    Regístrate ahora y <strong>crea facturas, tickets y presupuestos sin coste para tu negocio</strong>.<br>
                    Nosotros te ayudamos con todos los trámites.
                </p>
                <form class="signup-form">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Contraseña">
                    <div class="pt-2">
                        <a href="#" class="signup-button">
                            Regístrate GRATIS
                        </a>
                    </div>
                </form>
                <p class="mb-4">
                    ¿Tienes una cuenta? <a href="#" class="signup-link">Inicia sesión</a>
                </p>
                <p class="text-xs text-gray-600">
                    Billin únicamente utiliza tus datos personales en la medida necesaria para prestar nuestros Servicios.
                </p>
            </div>
        </article>
      
        <!-- ** Right Column ** -->
        <article class="signup-right">
            <div class="signup-right-container">
                <h1 class="text-3xl font-bold mb-4">
                    Más de 180.000 negocios confían en Billin
                </h1>
                <ul class="signup-testimonials">
                    <li class="signup-testimonial">
                        <div>
                            <img class="signup-avatar" src="/images/user_1.webp" alt="User profile">
                        </div>
                        <div class="col-span-9">
                            <div class="px-3">
                                <p class="font-normal text-sm mb-1 text-white">
                                    “Empecé con el típico Word y tardaba mucho en redactar la factura. Ahora son sólo 4 clics.”
                                </p>
                                <p class="text-xs text-blue-200">
                                    Alex Verdaguer de Wualia Studio
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="signup-testimonial">
                        <div>
                            <img class="signup-avatar" src="/images/user_1.webp" alt="User profile">
                        </div>
                        <div class="col-span-9">
                            <div class="px-3">
                                <p class="font-normal text-sm mb-1 text-white">
                                    “Me gusta la facilidad para extraer las facturas a final de trimestre y el envío de la factura por email desde la herramienta”
                                </p>
                                <p class="text-xs text-blue-200">
                                    Sacha Piel de Tech-Ebike
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="signup-testimonial">
                        <div>
                            <img class="signup-avatar" src="/images/user_1.webp" alt="User profile">
                        </div>
                        <div class="col-span-9">
                            <div class="px-3">
                                <p class="font-normal text-sm mb-1 text-white">
                                    “La atención ha sido super-rápida y me han intentado ayudar en todo momento. Atención personalizada por chat, email y teléfono. Estoy muy contenta.”
                                </p>
                                <p class="text-xs text-blue-200">
                                    Mª Jesús Martín de Stilo Personal
                                </p>
                            </div>
                        </div>
                    </li>
    
                </ul>
    
                <p class="mb-2">
                    *Solución 100% subvencionada para autónomos y empresas de 0 a 49 empleados gracias al Kit Digital.
                </p>
                <p class="text-xs text-blue-200">
                    Plan de Recuperación, Transformación y Resiliencia, España Digital 2025, y Plan de Digitalización de Pymes 2021-2025 de los fondos Next Generation de la UE.
                </p>
                <footer>
                    <img src="/images/logos-kit-nuevos-BN.svg" alt="Logos organismos oficiales del Kit Digital" class="my-6">
                </footer>
            </div>
        </article>
    </content>
</Layout>

<style>
    .signup{
        @apply grid grid-cols-1 md:grid-cols-2 h-full text-pretty relative;
    }
    .signup-left{
        @apply bg-white text-[var(--black)] px-[100px] py-[70px] 2xl:px-[150px] 2xl:py-[100px];
    }
    .signup-right{
        @apply bg-blue-600 text-white px-[100px] py-[70px] 2xl:px-[150px] 2xl:py-[100px];
        background-color: var(--blue);
        background-image: url("/images/hero_bg.webp");
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        transform: scaleX(-1);
        filter: FlipH;
    }
    .signup-right-container{
        transform: scaleX(-1);
        filter: FlipH;;
    }
    .signup-link{
        @apply font-medium text-[var(--blue)] border-b-2 border-b-transparent hover:border-b-[var(--blue)] transition-all ease-in-out;
    }
    .signup-form{
        @apply space-y-4 mb-8;
    }
    .signup-form input{
        @apply bg-gray-100 border border-gray-300 w-full p-4 rounded text-[var(--black)] placeholder:text-slate-500 text-sm;
    }
    .signup-button{
        @apply block md:inline-block p-4 md:w-[16rem] text-center bg-[var(--blue)] text-white text-sm rounded-full hover:bg-blue-700 transition-all ease-in-out shadow-lg shadow-blue-500/40;
    }
    .signup-testimonials{
        @apply mt-4;
    }
    .signup-testimonial{
        @apply grid grid-cols-10 my-6;
    }
    .signup-avatar{
        @apply size-8 md:size-10 xl:size-12 rounded-full;
    }
</style>