---
import AccordionItem from "./Atoms/AccordionItem.astro";
---

<section class="faqs" id="faqs">
    <article class="w-full max-w-[50rem] mx-auto">
      <header>
        <h2 class="text-4xl font-extrabold text-center mb-12">
          Preguntas frecuentes
        </h2>
      </header>
      <dl class="accordion">
        <AccordionItem 
          question="¿Cómo funciona el sistema de facturación?" 
          answer="Nuestro sistema de facturación es fácil de usar. Simplemente ingresa los datos necesarios y genera facturas profesionales en cuestión de minutos." />

        <AccordionItem 
          question="¿Cuáles son los métodos de pago aceptados?" 
          answer="Aceptamos pagos con tarjeta de crédito y vía Paypal.." />

        <AccordionItem 
          question="¿Puedo personalizar mis facturas?" 
          answer="Sí, nuestro sistema te permite personalizar tus facturas con tu logotipo, colores y otros detalles." />

        <AccordionItem 
          question="¿Cómo puedo acceder a mi cuenta?" 
          answer="Puedes acceder a tu cuenta a través de nuestra página web o utilizando nuestra aplicación móvil." />

        <AccordionItem 
          question="¿Ofrecen soporte técnico?" 
          answer="Sí, ofrecemos soporte técnico por correo electrónico y chat en vivo." />
      </dl>
    </article>
</section>

<style>
  .faqs{
    @apply py-[100px] px-6;
    background: var(--sky);
  }
</style>