---
import CtaButtonPrimaryMedium from "./Atoms/CtaButtonPrimaryMedium.astro";
import DummyImageScreenshot from "./Atoms/DummyImageScreenshot.astro";
---

<section class="bg-white py-20" id="features">

    <!-- ** Feature ** -->
    <div class="md:grid md:grid-cols-2 gap-8 xl:gap-16 items-center py-16 px-4 lg:px-6 mx-auto max-w-screen-xl text-center md:text-left text-pretty">
        <DummyImageScreenshot styles="md:order-last" />
        <div class="my-8 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold">
                Crea, envía y gestiona tus facturas a la velocidad de la luz
            </h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg">
                Factura automáticamente y ahorra hasta 16 horas al mes.<br />
                ¡El acceso es totalmente gratuito!
            </p>
            <CtaButtonPrimaryMedium />
        </div>
    </div>

    <!-- ** Feature ** -->
    <div class="md:grid md:grid-cols-2 gap-8 xl:gap-16 items-center py-16 px-4 lg:px-6 mx-auto max-w-screen-xl text-center md:text-left text-pretty">
        <DummyImageScreenshot />
        <div class="my-8 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold">
                Factura online
            </h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg">
                Factura desde cualquier lugar. Supervisa el estado de tus facturas con un simple clic y simplifica el proceso de pago para tus clientes.
            </p>
            <CtaButtonPrimaryMedium />
        </div>
    </div>

    <!-- ** Feature ** -->
    <div class="md:grid md:grid-cols-2 gap-8 xl:gap-16 items-center py-16 px-4 lg:px-6 mx-auto max-w-screen-xl text-center md:text-left text-pretty">
        <DummyImageScreenshot styles="md:order-last" />
        <div class="my-8 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold">
                Ayuda profesional
            </h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg">
                Ofrecemos soporte a través de teléfono, email y chat, con respuestas en menos de 1 minuto durante horario laboral. Estamos aquí para resolver todas tus preguntas sobre facturación y nuestro software.
            </p>
            <CtaButtonPrimaryMedium />
        </div>
    </div>

    <!-- ** Feature ** -->
    <div class="md:grid md:grid-cols-2 gap-8 xl:gap-16 items-center py-16 px-4 lg:px-6 mx-auto max-w-screen-xl text-center md:text-left text-pretty">
        <DummyImageScreenshot />
        <div class="my-8 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold">
                Todo bajo control desde un mismo lugar
            </h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg">
                Simplemente ingresa el importe bruto de tu factura y Billin se encarga de calcular automáticamente impuestos, descuentos, gastos y otros cargos, facilitando tus gestiones financieras.
            </p>
            <CtaButtonPrimaryMedium />
        </div>
    </div>

    <!-- ** Feature ** -->
    <div class="md:grid md:grid-cols-2 gap-8 xl:gap-16 items-center py-16 px-4 lg:px-6 mx-auto max-w-screen-xl text-center md:text-left text-pretty">
        <DummyImageScreenshot styles="md:order-last" />
        <div class="my-8 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold">
                Elige y personaliza plantillas para tus facturas
            </h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg">
                Incorpora tu logotipo y los colores distintivos de tu marca al enviar tus facturas, creando así una imagen mucho más profesional y consistente.
            </p>
            <CtaButtonPrimaryMedium />
        </div>
    </div>


</section>