<footer class="footer">
    <div class="footer-container">
        <div class="footer-container-top">
            <div class="text-center md:text-left mb-4 sm:mb-0">
                <img src="/images/logo-billin-theme-dark.svg" alt="Billin" class="mx-auto md:mx-0">
            </div>
            <div class="text-sm font-medium text-blue-200 opacity-80 text-center md:text-left">
                <p class="mb-2">
                    Talavera, 4. Loft 2, 28016 - Madrid, España
                </p>
                <p>
                    Avenida Sabino Arana, 8, Bilbao, 48013 , Bizkaia
                </p>
            </div>
        </div>
        <hr class="footer-separator" />
        <span class="footer-container-bottom">
            © 2024 <a href="https://flowbite.com/" class="hover:underline">Billin</a>. Todos los derechos reservados.
        </span>
    </div>
</footer>
<style>
    .footer{
        @apply bg-[var(--black)] py-[70px];
    }
    .footer-container{
        @apply w-full max-w-screen-xl mx-auto p-4 md:py-8;
    }
    .footer-container-top{
        @apply flex flex-col items-center sm:flex-row sm:items-center sm:justify-between;
    }
    .footer-container-bottom{
        @apply block text-sm text-center text-gray-400;
    }
    .footer-separator{
        @apply my-6 sm:mx-auto border-gray-600 lg:my-8;
    }
</style>