---
import CtaPrimaryButtonLarge from "./CtaPrimaryButtonLarge.astro";
---

<section class="bg-gray-200 px-4" id="hero">

    <div class="pt-36 text-center text-balance">

        <div class="max-w-[60rem] mx-auto lg:px-12">
            <h1 class="mb-4 text-5xl font-extrabold tracking-tight leading-none text-gray-900 lg:text-6xl dark:text-white">
                La solución de facturación para tu negocio
            </h1>
            <p class="mb-8 text-lg font-normal text-gray-500 text-pretty">
                Factura fácilmente y mantén tus finanzas organizadas con Billin.
            </p>
    
            <CtaPrimaryButtonLarge />
        </div>




        <img 
            class="border rounded-lg max-w-[100%] lg:max-w-[60rem] mx-auto"
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/dashboard-mockup.svg"
            alt="Billin Screenshot">

    </div>

</section>