---
import CtaButtonPrimaryLarge from "./Atoms/CtaButtonPrimaryLarge.astro";
import DummyImageScreenshot from "./Atoms/DummyImageScreenshot.astro";
---

<section class="bg-gray-200 px-4" id="hero">

    <div class="pt-36 text-center text-balance">

        <div class="max-w-[60rem] mx-auto lg:px-12">
            <h1 class="mb-4 text-5xl font-extrabold tracking-tight leading-none text-gray-900 lg:text-6xl dark:text-white">
                Factura fácil
            </h1>
            <p class="mb-8 text-lg font-normal text-gray-500 text-pretty">
                Crea y envía tus facturas a la velocidad de la luz
            </p>
    
            <CtaButtonPrimaryLarge />
        </div>

        <DummyImageScreenshot styles="lg:max-w-[60rem]" />
    </div>

</section>