---
import CtaButtonPrimaryLarge from "./Atoms/CtaButtonPrimaryLarge.astro";
---

<section class="hero" id="hero">

    <div class="hero-container">

        <header class="hero-header">
            <h1 class="mb-4 text-5xl font-extrabold tracking-tight leading-none lg:text-6xl">
                Factura fácil con Billin
            </h1>
            <h2 class="mb-8 text-lg font-normal">
                Crea y envía tus facturas a la velocidad de la luz
            </h2>
    
            <CtaButtonPrimaryLarge />
        </header>

        <img 
            src="/images/hero_image.webp" alt="Hero image" class="hero-image mx-auto -mb-8" />
    </div>

</section>

<style>
    .hero {
        background-color: #1C64F2;
        @apply px-2 md:pt-12 text-white overflow-hidden;
        background-image: url("/images/hero_bg.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .hero-container {
        @apply pt-36 px-1 text-center text-balance;
    }
    .hero-header {
        @apply max-w-[60rem] px-10 mx-auto lg:px-12 mb-10 lg:mb-16;
    }
</style>