---
import PriceTierCard from './PriceTierCard.astro';
---

<section class="bg-slate-100 py-20 px-6" id="pricing">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

        <header class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12 text-balance">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold">
                Nuestros planes están pensados especialmente para autónomos y PYMEs
            </h2>
            <p class="mb-5 font-light sm:text-xl">
                Tenemos un plan a tu medidad, plenamente enfocado para que tú no te tengas que ocupar de nada.
            </p>
        </header>

        <PriceTierCard />

    </div>
  </section>