<section class="bg-whitepy-2 text-center" id="trusted-by">

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 max-w-screen-xl mx-auto">

        <div class="my-12">
            <h3 class="font-normal uppercase text-slate-500">
                Medios en los que aparecemos:
            </h3>
            <div class="flex flex-wrap justify-center items-center mt-4">
                <img src="/images/el_pais_1.webp" alt="El Pais" class="animation-fade-in">
                <img src="/images/expansion_1.webp" alt="Expansión" class="animation-fade-in">
                <img src="/images/la_razon_1.webp" alt="La Razón" class="animation-fade-in">
            </div>
        </div> 
        <div class="my-12">
            <h3 class="font-normal uppercase text-slate-500">
                Empresas que venden Billin a sus clientes:
            </h3>
            <div class="flex flex-wrap justify-center items-center mt-4">
                <img src="/images/masmovil.webp" alt="Masmovil" class="animation-fade-in">
                <img src="/images/santander.webp" alt="Santander" class="animation-fade-in">
                <img src="/images/vodafone.webp" alt="Vodafone" class="animation-fade-in">
            </div>
        </div> 
    </div>
</section>