---
import PartnerLogo from "./Atoms/PartnerLogo.astro";
---
<section class="bg-gray-300 py-2 text-center" id="trusted-by">

    <div class="grid grid-cols-1 lg:grid-cols-5 gap-4 max-w-screen-xl mx-auto">

        <div class="my-12 col-span-2">
            <h3 class="font-normal uppercase">
                Medios en los que aparecemos:
            </h3>
            <div class="flex flex-wrap justify-center items-center mt-4">
                <PartnerLogo color="text-slate-700" />
                <PartnerLogo color="text-slate-700" />
                <PartnerLogo color="text-slate-700" />
            </div>
        </div> 
        <div class="my-12 col-span-3">
            <h3 class="font-normal uppercase">
                Empresas que venden Billin a sus clientes:
            </h3>
            <div class="flex flex-wrap justify-center items-center mt-4">
                <PartnerLogo color="text-slate-700" />
                <PartnerLogo color="text-slate-700" />
                <PartnerLogo color="text-slate-700" />
                <PartnerLogo color="text-slate-700" />
            </div>
        </div> 
    </div>
</section>