<a
    type="button"
    href="/signup-kit-digital"
    class="button-primary-medium">
    Empieza gratis ahora
</a>
<style>
    .button-primary-medium {
        @apply bg-blue-950 text-white font-medium rounded-full  px-4 py-2 text-center transition-all ease-in-out text-xl md:text-sm shadow-lg shadow-blue-500/20;
    }
</style>