<a
    type="button"
    href="/signup-kit-digital"
    class="button-primary-medium">
    Empieza gratis ahora
</a>
<style>
    .button-primary-medium {
        @apply text-blue-900 font-medium rounded-full  px-4 py-2 text-center border border-blue-900 transition-all ease-in-out text-xl md:text-sm;
    }
    .button-primary-medium:hover {
        @apply text-white font-medium rounded-full text-sm px-4 py-2 text-center bg-blue-950 shadow-lg shadow-blue-500/40;
    }
</style>