<a 
    href="/signup-kit-digital"
    type="button"
    class="py-3 px-5 text-base font-semibold text-center text-white hover:bg-blue-50 focus:ring-4focus:ring-primary-300
     bg-[var(--blue)] transition-all ease-in rounded-full shadow-lg shadow-indigo-500/40">
    Empieza gratis ahora
</a>
