---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content="Crea y envía tus facturas a la velocidad de la luz. Software de cumplimiento responsable Ley Antifraude (Ley 11/2021)." />
		<meta property="og:locale" content="es_ES" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Factura fácil con Billin - Accede gratis" />
		<meta property="og:description" content="Crea y envía tus facturas a la velocidad de la luz. Software de cumplimiento responsable Ley Antifraude (Ley 11/2021)." />
		<meta property="og:url" content="https://www.billin.net/land/factura-facil-con-billin-mkt-app-nueva/" />
		<meta property="og:site_name" content="Billin" />
		<meta property="article:modified_time" content="2023-09-21T09:01:05+00:00" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:label1" content="Tiempo de lectura" />
		<meta name="twitter:data1" content="12 minutos" />
		<script is:inline src="/flowbite.min.js"></script>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss" is:global>
	[x-cloak] {
		display: none;
	}
    // sticky footer on low content pages
	html,
	body {
	  height: 100%;
	  overflow-x: hidden;
	  scroll-behavior: smooth;
	}
</style>