---
import { ViewTransitions } from 'astro:transitions';
import CookiesModal from '../components/CookiesModal.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss" is:global>
      // sticky footer on low content pages
      html,
      body {
        height: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
</style>

<CookiesModal />